/* TaskForm.css */
.task-form {
    display: flex;
    align-items: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .task-label {
    flex: 1;
    margin-right: 10px;
  }
  
  .task-input {
    width: 90%;
    padding: 5px;
    font-size: 16px;
    border: none; 
    border-bottom: 1px solid #ccc; 
    outline: none; 
  }
  .task-input::placeholder {
    color: #ccc; 
  }
  .add-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }

    /* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
    @media (max-width: 420px) {
        .task-form {
            display: flex;
            flex-direction: column;

        }
        .task-label {
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
          }
          .add-button{
            margin-top: 10px;
          }

    }
  